body {
    background-color: #343d46;
    margin: 150px 200px;
}

.main-page {
    width: 100%;
    max-width: 1520px;
    height: auto;
}

/*
    index page
*/

.main-page .sub-section {
    margin-top: 60px;
}
