.hero_text-content_thin p{
    font-family: 'Roboto', sans-serif !important;
    font-weight: normal !important;
    font-size: 26px;

    color: #F1FAFF;

}

.hero_text-content_thin {
    margin-top: 20px;
}

.hero_text-content_thin:first-child {
    margin-top: 60px !important;
}