.header-features{
    width: 100%;
    max-width: 1520px;
    height: 100%;
    max-height: 162px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-features .title-container{
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 150px;

    border-bottom: 5px solid #F1FAFF;
}

.header-features span{
    font-family: 'Druk Wide Bold', sans-serif;
    color: #F1FAFF;
    font-weight: bold;

    font-size: 28px;

    text-transform: uppercase;
}