.hero {
    width: 100%;
    height: auto;

    padding: 20px;

    display: flex;
    flex-direction: row;
}

.hero .hero_image-container {
    max-width: 50%;
}

.hero .hero_image-container img {
    width: 100%;
}

.hero .hero_text-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
        
}

.hero .hero_text-container .hero_text-title h3{
    font-family: 'Druk Wide Bold', sans-serif;
    
    color: #F1FAFF;
}

.hero .hero_text-container .hero_text-content p{
    font-family: 'Druk Wide Bold', sans-serif;

    color: #F1FAFF;
}