.header-main {
    width: 100%;
    max-width: 1520px;
    height: 100%;
    max-height: 162px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-main .logo-container img{
    width: 100%;
    max-width: 495px;
    height: auto;
}

.header-main .main-menu {
    width: fit-content;
}

.header-main .main-menu .main-menu_item:not(:first-child){
    margin-left: 42px;
}

.header-main .main-menu .main-menu_item a{
    color: #F1FAFF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

